
.post-fields {
    width: 800px;
    font-size: 17px;

    input,
    textarea {
        width: 700px;
        border: 1px solid #d1d1d1;
        border-radius: 5px;
    }

    .field {
        button {
            display: block;
        }
        p {
            color: #17a2b8;
        }
    }
}
