
.nav {
    display: flex;
    justify-content: space-between;
}

.search {
    margin: 0;

    input {
        border: 2px solid darkgray;
        border-radius: 9px;
        width: 100%;
        max-width: 550px;
    }
}

.left {
    width: 45%;
    margin-left: 10%;
}

.right {
    margin-right: 10%;
}


.button {
    padding: .7em 1.2em;
    border-radius: 5px;
    font-size: 16px;
}

a:hover, a:focus {
    text-decoration: none;
}

.posts {
    table-layout: fixed;
    width: 80%;

    tr {
        background-color: $table-row-color;
        border-bottom: 1px solid $table-border-color;
    }
    input {
        width: 300px;
        border: 2px solid #d1d1d1;
        border-radius: 8px;
    }

    input:focus {
        outline: none;
        border-color: lightblue;
    }
}
