extends layout.pug

block content
  header.text-center.my-5
    h1 New Post

  include ./submission-error

  form.text-center(action="/posts" method="post")
    .post-fields.mx-auto.text-left
      p.my-4
        label.mx-2(for='title') Title
        input#title.mx-2.px-4.py-3(name='title' type='text')
      p.my-4
        label.mx-2(for='author') Author
        input#author.mx-2.px-4.py-3(name='author' type='text')
      p.my-4
        label.mx-2.align-top(for='lead') Lead
        textarea#lead.mx-2.p-4(name='lead' rows="4")
      p.my-4
        label.mx-2(for='coverPhoto') Cover Photo
        input#coverPhoto.mx-2.px-4.py-3(name='coverPhoto' type='text')
      p.my-4
        label.mx-2.align-top(for='body') Body
        textarea#body.mx-2.p-4(name='body' rows="16")

    p.mx-auto
      input.btn.btn-info.mt-4(type='submit' value='Create New Post')
    p.mx-auto
      a.btn.btn-secondary.mt-2(href='/posts') Cancel

  //- if(errors)
  //-   script(src="/static/scripts/input-handling.js")