
.cover-photo-background {
    position: absolute;
    object-fit: cover;
    width: 102vw;
    height: 1750px;
    top: -1vw;
    left: -1vw;
    z-index: -1; 
    filter: blur(50px);
}

.container {
    background: rgba(255,255,255,0.7);
    border-radius: 25px;
    position: relative;
    left: 0;
    right: 0;
    top: 15vh;
}