
.cover-photo-background {
    filter: blur(50px);

    img {
        object-fit: cover;
        position: fixed;
        width: 100vw;
        height: 1850px;
        z-index: -2;
    }
}

.container {
    background: rgba($background-light, 0.75);
    border-radius: 25px;
    position: relative;
    left: 0;
    right: 0;
    top: 15vh;
}