
.feed {
    display: flex;
    justify-content: center;
    padding-top: 20rem;
}

.card {
    width: 280px;
    margin: 0 50px 100px;
    border: 1px solid #f2f2f2;

    .card-body {
        padding: 16px;

        .card-text {
            font-size: .93rem;
        }
    }
    img {
        object-fit: cover;
    }
}

@media (max-width: 32rem)
{

    .feed {
        padding-top: 17rem;
    }

    .card,
    .column {
        width: 80%;
    }

    .card {
        margin: 0 auto 70px;
    }

}