
.feed {
    display: flex;
    justify-content: center;
    padding-top: 18rem;
}

.card {
    margin: 0 50px 100px;
    border: 1px solid #f2f2f2;
    border-radius: 18px;

    .published {
        margin: -70px -16px 20px;
        color: #8d8d8d;
        background: rgba(white, .65);
        padding-bottom: 13px;
        border-radius: 18px;

        .date {
            position: relative;
            top: -20px;
            width: 160px;
            font-size: 12px;
            font-weight: 600;
            margin: 0px auto 0px;
            padding: 10px;
            background: rgba(white, .93);
            border-radius: 18px;
        }
    }

    .card-body {
        margin-top: -5px;
        padding: 28px 16px 16px;

        .card-text {
            font-size: .93rem;
        }
    }
    img {
        object-fit: cover;
        border-radius: 15px;
        min-height: 200px;
        max-height: 350px;
    }
}

@media (max-width: 740px)
{

    .feed {
        padding-top: 17rem;
    }

    .card {
        margin: 0 25px 70px;
    }

}

@media (min-width: 741px)
{
    .card {
        width: 280px;
    }
}