
.feed {
    display: flex;
    justify-content: center;
    padding-top: 20rem;
}

.card {
    width: 280px;
    margin: 0 50px 100px;
    border: 1px solid #f2f2f2;

    .card-body {
        h4, p {
            //filter: blur(3px);
        }
    }
    img {
        object-fit: cover;
    }
}

@media(max-width: 25rem)
{
    .card-body {
        padding: 0.9rem;

        p {
            font-size: .98rem;
        }
    }
}

@media(min-width: 25rem)
{
    .card-body {
        padding: 1.2rem;
    }
}

@media (max-width: 32rem)
{

    .feed {
        padding-top: 17rem;
    }

    .card,
    .column {
        width: 80%;
    }

    .card {
        margin: 0 auto 70px;
    }

}