 
header {

    h1 {
        font-family: "Georgia", Helvetica, Serif;
        color: $header-color;
        margin-top: 6rem;
    }
        
    h2 {
        font-family: "Georgia", Helvetica, Serif;
    }
}

@media (min-width: 32rem) {

    h1 {
        font-size: 3.3rem;
    }

    h2 {
        font-size: 1.5rem;
    }
}

@media (max-width: 32rem) {

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.3rem;
    }
}
 