script.   
    const form = document.querySelector('form');
    let error = document.querySelector('.error');

    const fields = form.querySelectorAll('.post-fields input, .post-fields textarea');

    let fieldHasEventListener = 
    [
        false,
        false,
        false,
        false,
        false
    ];

    form.addEventListener('submit', (event) => 
    {
        let isError = false;
        let scroll = -1;

        for(let i = 0; i < fields.length; i++)
        {
            let field = fields[i];

            if(!field.value)
            {
                isError = true;

                let toMark = field.className.includes('hidden') ? field.parentNode.querySelector('p') : field;

                if(toMark.nodeName === 'P')
                {
                    toMark.innerHTML = 'Please Select Cover Photo...'
                    toMark.style.color = "#f33";
                }
                else
                {
                    toMark.style.border = "2px solid #f88";

                    if(!fieldHasEventListener[i])
                    {
                        toMark.addEventListener('keyup', () => 
                        {
                            if(!toMark.value)
                            {
                                toMark.style.border = "2px solid #f88";
                            }
                            else
                            {
                                toMark.style.border = '';
                            }
                        });
                        fieldHasEventListener[i] = true;
                    }
                }


                if(scroll === -1)
                {
                    scroll = toMark.getBoundingClientRect().top + window.scrollY - 61 - 55;
                }
            }
        }

        if(isError)
        {
            event.preventDefault();

            newError = error.cloneNode(true);
            error.parentNode.replaceChild(newError, error);
            error = newError;
            error.style.opacity = '1';
            error.style.animation = 'fade-out 1s 3s forwards';

            window.scrollTo(0, scroll);
        }

    });