@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@import "./utility/variables.scss";
@import "./utility/animations.scss";

@import "./pieces/container.scss";

@import "./views/posts.scss";
@import "./views/new.scss";

* {
    font-family: "Palatino", Helvetica, Serif;
}
  
body {
    background-color: $background-light;
}

header {
    padding-bottom: 2.5em;
}

h1 {
    font-size: 2.65em;
}

label {
    width: 5em;
    text-align: left;
}

.btn {
    padding: 0.7em 1em;
}

p {
    margin-bottom: 0;
    padding-bottom: 1rem;
}


input {
    width: 300px;
    border: 2px solid #d1d1d1;
    border-radius: 8px;
}

input:focus {
    outline: none;
    border-color: lightblue;
}

.logout {
    border: none;
    width: 160px;
    height: 40px;
    border-radius: 5px;
    font-size: 16px;
}