@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@import "./utility/variables.scss";
@import "./utility/animations.scss";

@import "./pieces/container.scss";

@import "./views/posts.scss";
@import "./views/new.scss";

* {
    font-family: "Palatino", Helvetica, Serif;
}
  
body {
    background-color: $background-light;
}

header {
    padding-bottom: 2.5em;
}

h1 {
    font-size: 2.65em;
}

label {
    width: 6em;
    text-align: left;
}

.btn-thick {
    padding: 0.7em 1em;
}

p {
    margin-bottom: 0;
    padding-bottom: 1rem;
}

.hidden {
    display: none;
}

.logout {
    border: none;
    width: 160px;
    height: 40px;
    border-radius: 5px;
    font-size: 16px;
}

$image-width: 200px;
$image-height: 125px;
$image-spacing: 12px;
$images-per-row: 3;
$images-per-column: 4;
$container-width: ($image-width * $images-per-row) + ($image-spacing * $images-per-row * 2);
$container-height: ($image-height * $images-per-column) + ($image-spacing * $images-per-column * 2);

#gallery {
    //helper variables

    margin: 45px auto;
    width: $container-width;

    img {
        object-fit: cover;
        border-radius: 5px;
        margin: $image-spacing;
    }

    img:hover {
        opacity: 0.75;
    }
}

#viewer {
    margin: 45px auto 20px;
    width: $container-width;
    max-height: $container-height + 60px;
    text-align: center;

    img {
        display: block;
        margin: -40px auto 0;
        max-width: $container-width;
        max-height: $container-height - 50px;
        border-radius: 8px;
    }

    span {
        display: block;
        margin-top: 20px;
        color: #666;
        border-bottom: 1px solid #aaa;
        padding-bottom: 0.6em;
    }

    button {
        margin: 1.5em 1.4em;
    }
}

.modal-header {
    border: none;
}

