extends ../layouts/main.pug

block content
    h1.text-center.my-5 Not Found
    p.text-center Sorry, this page doesn't seem to exist
    p.text-center.return
        a(href="/") Return to home page...