extends ../layouts/main.pug

block content
    h1.text-center.my-5= `${error.status} - Something went wrong...`
    p.text-center We apologize, something seems to have gone wrong on our end
    p.text-center.return
        a(href="/") Advance to home page...